.App {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
}

.btn.btn-dark {
  margin-left: 10px;
  margin-right: 10px;
}

.users {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: aqua;
}