.App {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(181, 229, 181);
} 

.form {
  border-radius: 20px;
  border: #dbafc6 solid 10px;
  background-color: #ebcadd;
  max-width: 700px;   
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.btn.btn-dark {
  margin-left: 10px;
  margin-right: 10px;
}

.users {
  border-radius: 20px;
  border: #9cc9b9 solid 10px;
  background-color: #cdeee3;
  max-width: 500px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 20px auto;
}

.name-age {
  margin-bottom: 20px;
}